@page
@model ListStudentsModel
@{
}

<h4>@Model.Message</h4>

<h4>@Model.TempData.Peek("TempDataProperty-Message").ToString();</h4>

<h4>@Model.Message2</h4>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            // list out each of the properties.
        <tr>
            <td>@student.StudentID</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>


            <td> <a asp-page="StudentDetails" asp-route-id="@student.StudentID">Details</a> </td>
        </tr>
        }
    </tbody>
</table>

